{% extends "layout.html" %}
{% block title %} Create Team {% endblock %}
{% block body %}
    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
    {% endif %}
    <h1>Create Team</h1>
    <form method="POST" action="create_team" style="width: 80%;margin: 10%">
    {% csrf_token %}
        <div class="form-group">
            <label for="team_name">Team Name</label>
            <input class="form-control" id="team_name" name="team_name" placeholder="Team Name" type="text" required>
        </div>

        <div class="form-group">
            <label for="invite_friends">Invite Friends as Members</label>
            <select multiple class="form-control" id="friends" name="friends">
                {% for friend in friends %}
                    <option value="{{ friend.username }}">{{ friend.username }}</option>
                {% endfor %}
            </select>
            <p style="color:grey;font-size:12px">Hold down “Control”, or “Command” on a Mac, to select more than one.</p>
        </div>

        <div class="form-group">
            <label for="project_description">Team Description/Goal</label>
            <textarea class="form-control" id="project_description" name="project_description" rows="3" required></textarea>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Create Team">
        </div>

    </form>
{% endblock %}